<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Autor: Esteban Sánchez Sánchez</p>
    <img src=/public/images/autor.png>
  </body>
</html>