*                   { margin: 0; padding; 0; }
body                { font: 16px Georgia, serif; }

#page-wrap          {margin: 2% auto; colo: white; }
#page-wrap > .main  {border: 1px soolid #999; padding 1%;
                     marging-bottom: 1px; color: black;}

section > div       { padding: 20px; }
header,nav,section  { background: #eee; text-align: center; }
footer              { background: #eee; text-align: center; }
nav span            { margin: 0px 10px 0 px 0px; }

